@import url("https://fonts.googleapis.com/css2?family=Romanesco&family=Varela+Round&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 1));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10em;
}
h1 {
    color: aliceblue;
    position: relative;
    font-family: "Cinzel", serif;
    font-weight: 900;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0%; */
    /* bottom: 0%; */
    width: 100%;
    z-index: -1;
}
